wandb~=0.12.4
numpy~=1.20.3
torch==1.9.0+cu102
opencv-python~=4.5.4
pandas~=1.3.3
pycocotools~=2.0.2
setuptools~=58.0.4
tqdm~=4.62.3
psutil~=5.8.0
fvcore~=0.1.5.post20210924
tabulate~=0.8.9
termcolor~=1.1.0
iopath~=0.1.9
pillow~=8.3.1
cloudpickle~=2.0.0
matplotlib~=3.4.2
torchvision==0.10.0+cu102
pyyaml~=5.4.1
omegaconf~=2.1.1
scipy~=1.7.1
seaborn~=0.11.2
scikit-image~=0.18.1
git+https://github.com/facebookresearch/detectron2.git#egg=detectron2
--find-links https://download.pytorch.org/whl/torch_stable.html
